<% include ../partials/header %>

<div class="container">
    <% if(products && products.length>0){ %>
        <div class="row">
            <div class="col-md-6 col-sm-6 offset-md-3 offset-sm-3">
                <ul class="list-group">
                    <% products.forEach(function(product){ %>
                        <li class="list-group-item">
                            <strong><%= product.item.title %></strong>
                            <span class="label label-success">$<%= product.price %></span>
                            <div class="btn-group dropdown">
                                <button class="btn btn-primary btn-xs dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Action
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                  <a href="/reduce/<%= product.item._id%>" class="dropdown-item">Reduce by 1</a>
                                  <a href="/remove/<%= product.item._id%>" class="dropdown-item">Remove all</a>
                                </div>
                            </div>
                            <span class="badge"><%= product.qty %></span>
                            </li>
                    <% }) %>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 offset-md-3 offset-sm-3">
                <strong>Total:<%= totalPrice %></strong>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6 col-sm-6 offset-md-3 offset-sm-3">
                <a href="/checkout" class="btn btn-success" type="button">Checkout</a>
            </div>
        </div>
    <% } else{ %>
        <div class="row">
            <div class="col-md-6 col-sm-6 offset-md-3 offset-sm-3">
                <h2>No items in caret</h2>
            </div>
        </div>
    <% } %>
</div>

<% include ../partials/footer %>